@import "../theme.scss";

.AddContentContainer {
  max-width: 1200px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 30px;
  @media (max-width: $breakpointSmall) {
    padding: 40px 20px;
  }
  .createAccountSection {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: auto;
    margin-top: 20vh;
    background-color: $greyNormal;
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    .userIcon {
      margin: 0px 15px;
      width: 80px;
      height: 80px;
      color: $blueDark;
    }
    .textContents {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
      padding: 30px;
      .message {
        font-size: 25px;
        text-align: center;
        line-height: 27px;
      }
      .links {
        margin-top: 15px;
        font-size: 16px;
        font-weight: bold;
        .link {
          color: $blueHard;
          cursor: pointer;
        }
        .link:hover {
          color: $blueDark;
        }
      }
    }
  }
  .formContainer {
    margin-top: 20px;
    display: flex;
    padding-bottom: 10px;
    flex-flow: wrap;
    align-items: center;
    @media (max-width: $breakpointSmall) {
      flex-direction: row;
    }
    .inputSection {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      margin-right: 15px;
      @media (max-width: $breakpointSmall) {
        width: -webkit-fill-available;
        margin-right: 0px;
      }
    }
    .label {
      font-size: 14px;
      font-weight: bold;
      color: $blueMedium;
    }
    .englishValue {
      display: flex;
      flex-direction: column;
      max-width: 250px;
      @media (max-width: $breakpointSmall) {
        width: -webkit-fill-available;
        max-width: initial;
      }
      .translatedText {
        margin: 10px;
        font-size: 12px;
        line-height: 15px;
        .buttonUse {
          display: block;
          cursor: pointer;
          font-weight: bold;
          color: $blueMedium;
        }
      }
    }
    .inputForm {
      display: flex;
      padding: 15px;
      align-items: flex-end;
      .errorMessage {
        margin: 5px;
        font-size: 12px;
        font-weight: bold;
        color: $redMedium;
      }
    }
    .searchButton {
      display: flex;
      align-items: center;
      background-color: $blueMedium;
      color: white;
      cursor: pointer;
      padding: 6px;
      border-radius: 15px;
      width: fit-content;
      height: fit-content;
      display: flex;
      margin: 3px 10px;
      span {
        padding: 0px 8px;
        font-size: 12px;
        font-weight: bold;
        width: max-content;
      }
    }
  }
  .imagesGeneralContainer {
    margin-bottom: 15px;
    display: flex;
    overflow-x: scroll;
    .imageContainer {
      position: relative;
      margin: 10px;
      max-width: 350px;
      min-width: 250px;
      &.selected {
        padding: 10px;
        padding-bottom: 0px !important;
        border: 2px solid $blueMedium;
        border-radius: 5px;
      }
      img {
        border-radius: 5px;
      }
      .checkIcon {
        position: absolute;
        z-index: 2;
        margin: 10px;
        padding: 6px;
        background-color: #fff;
        border-radius: 50%;
        height: 35px;
        width: 35px;
      }
    }
  }
}
.centerButton {
  display: flex;
  align-self: center;
}
