@import "../theme.scss";

.AddContentContainer {
  max-width: 1200px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 30px;
  @media (max-width: $breakpointSmall) {
    padding: 40px 20px;
  }
  .formContainer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    flex-flow: wrap;
    .inputForm {
      display: flex;
      padding: 15px;
      align-items: flex-end;
      .errorMessage {
        margin: 5px;
        font-size: 12px;
        font-weight: bold;
        color: $redMedium;
      }
    }
    .searchButton {
      background-color: $blueMedium;
      color: white;
      cursor: pointer;
      padding: 6px;
      border-radius: 50%;
      width: fit-content;
      height: fit-content;
      display: flex;
      margin: 3px 10px;
    }
  }
  .imagesGeneralContainer {
    display: flex;
    flex-wrap: wrap;
    .imageContainer {
      max-width: 350px;
    }
  }
}
