@import "../theme.scss";

.CreateAccountContainer {
  max-width: 1200px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding: 30px;
  @media (max-width: $breakpointSmall) {
    padding: 40px 20px;
  }
}
