@import "../theme.scss";

.LinguaeContainer {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  .ContentsContainer {
    max-width: 1250px;
    display: flex;
    margin: auto;
    @media (max-width: $breakpointSmall) {
      flex-direction: column;
    }
    .logoImage {
      padding: 50px;
      @media (max-width: $breakpointSmall) {
        padding: 0px;
      }
    }
    .textContainer {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      padding: 30px;
      .title {
        font-family: monospace;
        font-size: 80px;
        display: flex;
        letter-spacing: -5px;
        flex-direction: column;
        -webkit-background-clip: text;
        color: #0000;
        font-weight: bold;
        background-image: linear-gradient(
          81.84deg,
          #09f -9.4%,
          #a033ff 51.57%,
          #ff5280 84.07%,
          #ff7061 90.59%
        );
      }
      .description {
        font-size: 20px;
        line-height: 20px;
        padding-bottom: 20px;
        color: $greyHard;
      }
    }
  }
  .FeaturesSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    background-color: $greyHard;
    -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  }
  .FooterContainer {
    display: flex;
    justify-content: flex-end;
    background-color: $blueDark;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    .freepikContrubutor {
      width: fit-content;
      color: #fff;
      font-weight: bold;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      span {
        margin-bottom: 10px;
      }
      .logo {
        filter: brightness(100);
      }
    }
    .githubProject {
      width: fit-content;
      color: #fff;
      font-weight: bold;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      span {
        margin-top: 10px;
      }
      img {
        max-width: 120px;
      }
    }
  }
}

/* .LinguaeContainer {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  .version {
    font-size: 14px;
  }
  .buttonsSection {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    div {
      margin-right: 15px;
    }
  }
  .appName {
    cursor: pointer;
    color: #0047ab;
    font-weight: bold;
  }
  .devsContainer {
    margin: 30px;
    .devsSection {
      margin-top: 15px;
      display: flex;
      flex-flow: wrap;
      justify-content: center;
    }
  }
  .nextFeaturesContainer {
    margin: 30px;
    .annotation {
      font-size: 12px;
      margin-left: 10px;
      font-weight: bold;
      color: #0047ab;
    }
  }
  .headerMenu {
    color: #217aff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px 0px 5px;
    margin-bottom: 2%;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
    border-image-slice: 1;
    border-width: 4px;
    .image {
      border-radius: 100px;
    }

    .iconsHeader{ 
      display: flex;
    }

    .iconsHeader:nth-child(n){
      width: 37px;
    }
    .iconsHeader:nth-child(1) {
      margin-right: 9px;
    }
  }
}
 */
