@import "../theme.scss";

.PlatformContainer {
  .cardSection {
    margin-top: 20px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
  .addContentContainer {
    border: 3px solid $blueMedium;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 20px;
    float: right;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: $blueMedium;
    box-shadow: 0px 0px 11px 2px rgb(0 0 0 / 20%);
    .addIcon {
      color: white;
      width: 25px;
      height: 25px;
    }
    span {
      color: white;
      font-size: 18px;
      font-weight: bold;
      margin-left: 10px;
    }
  }
}
