@import "../theme.scss";

.ProfileContainer {
  max-width: 1200px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 70px;
  padding: 30px;
  @media (max-width: $breakpointSmall) {
    padding: 40px 20px;
  }
  .headerProfileContainer {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .headerProfileContent {
      display: flex;
    align-items: center;
    align-self: center;
    }
    .profilePicture {
      max-width: 100px;
      img {
        border-radius: 10px;
      }
    }
    .userName {
      margin-left: 20px;
      font-size: 25px;
    }
    .email,.userSince {
      margin-left: 20px;
      display: flex;
      flex-wrap: wrap;
      span,p {
        margin-left: 10px;
      }
    }
  }
  .aditionalData {
    .oneDate {
      margin-top: 20px;
      .title {
        font-weight: bold;
      }
    }
  }
}
