@import "./theme.scss";

.ButtonContainer {
  border: 1px solid $blueHard;
  font-weight: bold;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  &.primary {
    background-color: $blueMedium;
    color: white;
  }
  &.secondary {
    background-color: white;
    color: $blueHard;
  }
  &.yellow {
    color: $redNormal;
    border: 1px solid $redNormal;
  }
  &.small {
    font-size: 12px;
    padding: 3px 10px;
  }
}
.ButtonContainer:hover {
  &.primary {
    background-color: darken($blueHard, 15%);
  }
  &.secondary {
    background-color: lighten($blueHard, 35%);
  }
  &.yellow {
    background-color: lighten($redNormal, 35%);
  }
}
