@import "../theme.scss";

.cardContainer {
  
  cursor: pointer;
  position: relative;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 0px 12px 2px rgb(0 0 0 / 30%);
  width: -webkit-fill-available;
  margin: 15px;
  max-width: 315px;
  max-height: 335px;
  background-color: $backgroundColor;
  .informationContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 12px 0px;
    align-items: center;
    align-content: space-between;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .type {
        font-size: 12px;
        font-weight: bold;
        color: $blueLight;
      }
      .star {
        color: #ffd400;
        width: 18px;
        height: 18px;
      }
    }
    .miniCardContainer {
      margin: 0px 20px;
      display: flex;
      flex-direction: column;
      width: 230px;
      .wordContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $backgroundSecondary;
        margin-top: 10px;
        padding: 10px 20px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: $fontColor;
        font-size: 23px;
        text-align: center;
        line-height: 20px;
        transition: all 0.5s ease-in-out;
        svg {
          width: 20px;
        }
      }
      .definition {
        color: $fontColor;
        padding: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: 15px;
        font-weight: bold;
        line-height: 15px;
        text-align: center;
      }
    }
  }
  .imageCard {
    max-height: 190px;
    display: flex;
    margin-bottom: 0px;
    img {
      border-radius: 6px 6px 0px 0px;
    }
  }
  .avatarImage {
    cursor: pointer;
    display: flex;
    background-color: #fff;
    padding: 2px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    img {
      border-radius: 50%;
    }
  }
  &:hover {
    transition: 250ms;
    box-shadow: 0px 0px 10px 8px rgb(0 0 0 / 30%);
  }
}

.UserMiniCardContainer {
  cursor: pointer;
  display: flex;
  align-items: center;
  .avatar {
    margin-right: 10px;
    img {
      border-radius: 50%;
    }
  }
  p {
    font-weight: bold;
  }
}
