@import "../theme.scss";

.CardContainer {
  display: flex;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 0px 0px 11px 2px rgb(0 0 0 / 30%);
  flex-wrap: wrap;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  margin: 15px;
  max-width: 315px;
  .informationContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .type {
        font-size: 12px;
        font-weight: bold;
        color: $blueLight;
      }
      .star {
        color: #ffd400;
        width: 18px;
        height: 18px;
      }
    }
    .miniCardContainer {
      display: flex;
      flex-direction: column;
      width: 230px;
      .wordContainer {
        background-color: $greyHard;
        margin-top: 10px;
        padding: 5px 20px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #fff;
        font-size: 23px;
        text-align: center;
      }
      .definition {
        padding: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: $greyLight;
        font-size: 15px;
        font-weight: bold;
        line-height: 15px;
        text-align: center;
      }
    }
  }
  .imageCard {
    max-height: 190px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
  }
}
