@import "../theme.scss";

.HeaderContainer {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0px;
  background-color: $backgroundColor;
  box-shadow: 0px 0px 11px 2px rgb(0 0 0 / 30%);
  padding: 10px 30px;
  z-index: 3;
  transition: all 0.5s ease-in-out;
  @media (max-width: $breakpointSmall) {
    padding: 10px 20px;
  }
  .LinguaeTitle {
    cursor: pointer;
    font-family: monospace;
    font-size: 40px;
    display: flex;
    letter-spacing: -2px;
    flex-direction: column;
    background-clip: text;
    -webkit-background-clip: text;
    color: #0000;
    font-weight: bold;
    background-image: linear-gradient(
      81.84deg,
      #09f -9.4%,
      #a033ff 51.57%,
      #ff5280 84.07%,
      #ff7061 90.59%
    );
  }
  .switchTheme {
    margin-left: 10px;
    display: flex;
    padding-top: 8px;
  }
  .userContainer {
    display: flex;
    margin-right: 0px;
    margin-left: auto;
    align-items: center;
    .textsContainer {
      color: $fontColor;
      text-align: flex-end;
      @media (max-width: $breakpointSmall) {
        display: none;
      }
      .name {
        font-size: 15px;
        font-weight: bold;
      }
      .email {
        font-size: 12px;
      }
    }
    .imageProfile {
      cursor: pointer;
      margin-left: 10px;
      img {
        border-radius: 50%;
      }
    }
  }
}

.PopoverContainer {
  .miProfile {
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    span {
      margin-left: 5px;
    }
  }
  .closeSessionButton {
    margin-top: 10px;
    cursor: pointer;
    background-color: $redNormal;
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    span {
      margin-left: 5px;
    }
  }
  hr {
    border-color: #f1f1f1;
  }
}
