@import "../theme.scss";

.SelectContainer {
  display: flex;
  flex-direction: column;
  select {
    margin-bottom: 5px;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    border: 2px solid #9aa0a2;
    padding: 5px;
    height: fit-content;
    outline: none;
    resize: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    &:focus {
      -webkit-transition: 0.5s;
      transition: 0.5s;
      border: 2px solid $blueLight !important;
    }
  }
  .errorMessage {
    margin: 5px;
    font-size: 12px;
    font-weight: bold;
    color: red;
  }
}
