@import "../theme.scss";

.ContentLayoutContainer {
  background-color: $emphasisColor;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 70px;
  padding: 60px;
  @media (max-width: $breakpointSmall) {
    padding: 40px 20px;
  }
}
