@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.flex {
  display: flex;
  flex-flow: wrap;
}
.flex-start {
  justify-content: start;
}

.button-blue {
  border: 2px solid #004e89;
  background: #004e89;
  border-radius: 20px;
  padding: 3px 25px;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 2px 4px 5px #00000057;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #c4d0d9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ant-popover-inner {
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) \9;
  box-shadow: 0px 0px 11px 2px rgb(0 0 0 / 30%);
}

.ant-notification-notice-with-icon .ant-notification-notice-message {
  font-weight: bold !important;
}

.ant-notification-notice {
  border-radius: 15px !important;
}

.ant-notification-notice-with-icon .ant-notification-notice-description {
  line-height: 17px Im !important;
}

@import "./pages/Linguae.scss";
@import "./pages/DevsDashboard.scss";
@import "./pages/Platform.scss";
@import "./pages/AddContentContainer.scss";
@import "./pages/CreateAccount.scss";
@import "./pages/Profile.scss";

@import "./components/DevBox.scss";
@import "./components/Button.scss";
@import "./components/GoBack.scss";
@import "./components/Card.scss";
@import "./components/FeatureCard.scss";
@import "./components/Line.scss";
@import "./components/Loader.scss";
@import "./components/Input.scss";
@import "./components/Select.scss";
@import "./components/Header.scss";
@import "./components/Modal.scss";
