/* Greys */
$greyDark: #141414;
$greyHard: #262626;
$greyNormal: #c4d0d9;
$greyMedium: #bfbfbf;
$greyLight: #f0f0f0;

/* Reds */
$redDark: #800016;
$redHard: #a0001c;
$redMedium: #c00021;
$redNormal: #ff002b;

/* Blues */
$blueLight: #407ba7;
$blueMedium: #004e89;
$blueHard: #004e89;
$blueDark: #00043a;

/* Breakpoints */
$breakpointSmall: 768px;
