/* Colors */
$blueDark: #0c4fb3;
$blueLight: #217aff;
$yellowDark: #b37700;
$yellowLight: #ffb521;
$greyLight: #e4eaf2;
$greyMedium: #aeb9bf;
$greyNormal: #7b868c;
$greyHard: #4c5759;
$greyDark: #242621;

/* Breakpoints */
$breakpointSmall: 768px;
