/* Colors */
$blueDark: #0c4fb3;
$blueLight: #217aff;
$yellowDark: #b37700;
$yellowLight: #ffb521;
$greyLight: #e4eaf2;
$greyMedium: #aeb9bf;
$greyNormal: #7b868c;
$greyHard: #4c5759;
$greyDark: #242621;

$redDark: #800016;
$redHard: #a0001c;
$redMedium: #c00021;
$redNormal: #ff002b;

$blueLights: #407ba7;
$blueMedium:#004e89;
$blueHard: #004e89;
$blueDark: #00043a;

/* Breakpoints */
$breakpointSmall: 768px;
